//Importing other Sass
@use 'type-animation.scss';
@use 'underline-animation.scss';

//Importing Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


//variables
$titleFont: 'Roboto', sans-serif;
$textFont: 'Open Sans', sans-serif;

$headerColor: #333333;
$darkColor: #212222;
$lightGreenColor: #39B54A;
$darkGreenColor: #228A30;

/*
$keyColor: #AC4A5F;
$projectColor: #144EA4;
$aboutColor: #2B9180;
$contactColor: #190E65;
*/

header {

background-color: $headerColor;
height: 100vh;

    nav {
        //background-color: red;
        //border-bottom: 3px dashed $darkGreenColor;
        height: 10vh;
        display: flex;
        padding: 25px;

        ul {
            list-style-type: none;
            display: flex;
            padding: 25px;
            margin-left: 32%;
            align-items: baseline;

            li {
                color: #FFFFFF;
                font-size: 20px;
                font-family: $textFont;
                margin-left: 8em;
            }

            li:hover {
                cursor: pointer;
            }
        }

        #logo {
            width: 12%;
        }

        #logo:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        h1 {
            font-family: $titleFont;
            color: #FFFFFF;
        }
    }

    .header-box-wrapper {
        display: flex;

        .header-div-left {
            height: 60vh;
            width: 50%;
            //background-color: #39B54A;


            .header-div-left-textbox {
                border-left: 3px solid $darkGreenColor;
                //background-color: yellow;
                height: 100%;
                margin-left: 5em;
                padding-left: 10em;
                padding-top: 4em;
                width: 62%;
            
                h3 {
                    color: #FFFFFF;
                    font-family: $titleFont;
                    font-size: 50px;
                    //margin-left: 6em;
                    //margin-top: 2em; 
                }

                h2 {
                    color: #FFFFFF;
                    font-family: $titleFont;
                    font-size: 60px;
                    margin-top: 0.5em;
                    //margin-left: 5em;


                }

                .typed-text {
                    color: $lightGreenColor;
                    font-family: $textFont;
                    font-weight: bold;
                    font-size: 40px;
                    margin-top: 18em; 
                    //margin-left: 7.5em;
                    text-decoration: underline;
                }

                h4 {
                    color: #FFFFFF;
                    font-family: $titleFont;
                    font-size: 40px;
                    margin-top: 2em;
                    //margin-left: 7.5em;

                    span {
                        color: $lightGreenColor;
                    }

                    span:hover {
                        text-shadow: 0px 0px 15px #FFFFFF;
                    }
                }
            
            }

        }

        .header-div-right {
            height: 60vh;
            width: 50%;

            .header-div-right-imagebox {
                //background-color: deeppink;
                border-right: 3px solid $darkGreenColor;
                height: 100%;
                margin-right: 5em;
                padding-top: 4em;


                .header-div-right-img {
                    background-image: url(https://sej.one/wp-content/uploads/2021/09/127058711_780069189248378_628254043634158309_n-768x1024.jpg);
                    background-position: center;
                    box-shadow: 0px 0px 27px 0px rgba(255,255,255,0.71);
                    height: 500px;
                    width: 500px;
                    border-radius: 100%;
                    //margin-top: 15px;
                }
            }


        }
    }
    
    .header-div-some {
        height: 12em;
        width: 100%;
        //background-color: red;
    
        /*h2 {
            color: #FFFFFF;
            font-family: $titleFont;
            font-size: 30px;
            margin-right: 280px;
            margin-top: 60px;
            text-align: right;
        }*/

        a > img {
            float: right;
            margin-right: 5.5em;
            margin-top: 6em;
        }

        a > img:after {
            transform: translateY(0%);
            //transition: transform 1s;
        }

        a > img:hover {
            transform: translateY(-15%);
            transition: transform 0.25s linear;
        }
    }
} //Header