//Importing other Sass
@use "sass/type-animation.scss";
@use "sass/underline-animation.scss";
@use "sass/project.scss";
@use "sass/keyword.scss";
@use "sass/about.scss";
@use "sass/contact.scss";
@use "sass/footer.scss";
@use "sass/responsive.scss";

//Importing Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

//variables
$titleFont: "Roboto", sans-serif;
$textFont: "Open Sans", sans-serif;

$headerColor: #333333;
$darkColor: #212222;
$lightGreenColor: #39b54a;
$darkGreenColor: #228a30;
$lightBlue: #203c98;

//Universal
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input,
textarea {
  font-family: $titleFont;
}

// .scrollToTop {
//   border: 2px solid #FFFFFF;
//   border-radius: 100%;
//   bottom: 1em;
//   color: #FFFFFF;
//   font-size: 2.4rem;
//   height: 50px;
//   position: fixed;
//   right: 3em;
//   text-align: center;
//   transition: 0.2s;
//   width: 50px;
// }

// .scrollToTop:hover {
//   background-color: $lightGreenColor;
//   cursor: pointer;
// }

.sec-title {
  color: #ffffff;
  font-size: 2.2rem;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-top: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lightGreenColor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $darkGreenColor;
}

body {
  // background-color: $darkColor;
  background-image: url("../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  // background-color: purple;
  margin-left: auto;
  margin-right: auto;
  width: 2000px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

header {
  // background-color: $headerColor;
  // background-color: $darkColor;

  height: 100vh;

  nav {
    align-items: center;
    // background-color: red;
    box-sizing: border-box;
    // border-bottom: 3px dashed $darkGreenColor;
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 0;

    .main-menu {
      // background-color: #212222;
      list-style-type: none;
      display: flex;
      padding: 0;
      // margin-left: 2%;

      li {
        color: #ffffff;
        font-family: $textFont;
        margin-left: 3em;
        position: relative;

        a {
          color: #ffffff;
          text-decoration: none;
          font-size: 1.2rem;
          font-family: $textFont;
          width: 0;
        }

        a:hover {
          color: #ccc;
        }
      }

      li:hover {
        cursor: pointer;
      }
    }

    .main-menu-2 {
      // background-color: red;
      list-style-type: none;
      display: none;
      align-items: baseline;

      // li {
      //   color: #ffffff;
      //   font-family: $textFont;
      //   margin-left: 6em;
      //   position: relative;

      //   a {
      //     color: #ffffff;
      //     text-decoration: none;
      //     font-size: 20px;
      //     font-family: $textFont;
      //     width: 0;
      //   }

      //   a:hover {
      //     color: #ccc;
      //   }
      // }

      li:hover {
        cursor: pointer;
      }
    }

    .drop-down {
      background: #ffffff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      display: none;
      left: 0;
      list-style-type: none;
      opacity: 0;
      padding: 8px;
      position: absolute;
      visibility: hidden;

      .icon-row {
        display: flex;
        float: left;
        margin-top: 8px;
      }

      .icon-row div {
        //background-color: red;
        clear: both;
        float: left;
        height: 50px;
        width: 50px;
        margin-left: 5px;
        //margin-bottom: 20px;
        border-style: none;
      }
    }

    ul li:hover > .drop-down,
    ul li .drop-down:hover {
      cursor: default;
      visibility: visible;
      opacity: 1;
      display: flex;
      flex-direction: column;
      height: 120px;
      width: 275px;
      //padding-top: 10px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    #logo {
      max-width: 150px;
    }

    // #logo:hover {
    //     cursor: pointer;
    //     opacity: 0.8;
    // }

    .some-menu {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      list-style-type: none;
      justify-content: flex-end;
      // width: 40%;

      li {
        a {
          img {
            width: 40%;
          }
        }

        a:hover {
          opacity: 0.8;
        }
      }
    }
  } //nav

  .header-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;

    .profile-pic {
      border: 2px solid #FFFFFF;
      border-radius: 100%;
      width: 200px;
    }

    h2 {
      color: #ffffff;
      font-family: $titleFont;
      font-size: 2.2rem;
      line-height: 2.8rem;
      margin-top: 0.5em;
      text-align: center;

      span {
        color: $lightGreenColor;
      }
    }

    .typeing {
      margin-top: 2em;

      .typed-text {
        color: $lightGreenColor;
        font-family: $textFont;
        font-weight: bold;
        font-size: 2.2rem;
        text-decoration: underline;
        }
    }

    h4 {
      color: #ffffff;
      font-family: $titleFont;
      font-size: 1.9rem;
      line-height: 2.8rem;
      margin-top: 1em;
      text-align: center;
    }

    h5 {
      color: #ffffff;
      font-size: 2rem;
      margin-top: 1em;
    }

    .skills {
      display: flex;
      justify-content: center;
      margin-top: 1em;

      img {
       margin-top: 0.2em;
       transition: 0.2s;
      }

      img:hover {
        opacity: 0.8;
      }
    }
  }
} //Header
