$darkGreenColor: #228a30;
$orangeColor: #e08814;

#about {
  background-color: transparent;
  height: 80vh !important;
  width: 100%;

  .about-wrapper {
    display: flex;

    .about-img {
      // background-color: red;
      display: flex;
      justify-content: center;
      width: 35%;

      img {
        border-radius: 100%;
        cursor: pointer;
        transition: 0.2s;
        max-width: 400px;
      }

      img:hover {
        opacity: 0.8;
      }
    }

    .about-text {
      // background-color: #228A30;
      display: flex;
      flex-direction: column;
      height: 400px;
      justify-content: space-evenly;
      width: 65%;

      p {
        color: #ffffff;
        font-size: 1.2rem;
        line-height: 35px;
      }
    }
  }

  .reveal {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1s ease;
  }
  
  .reveal.active {
    transform: translateY(0px);
    opacity: 1;
  }
}
