$darkGreenColor: #228A30;
$orangeColor: #e08814;

#about {
    background-color: transparent;
    height: 70vh;
    width: 100%;

    h2 {
        color: #FFFFFF;
        font-size: 35px;
        padding-left: 2em;
        padding-top: 1em;
    }

    .about-grid-wrapper {
        display: grid;
        grid-template-columns: 55em auto;
        grid-gap: 50px;
        height: 80%;
        justify-items: end;
        margin: 0 auto;
        margin-top: 1em;
        padding: 10px;
        width: 95%;
        
        .about-grid-item {
            font-size: 30px;
            

            .about-textbox {
                width: 90%;

                h3 {
                    color: #FFFFFF;
                }

                p {
                    color: #FFFFFF;
                    font-size: 20px;
                    line-height: 40px;
                    margin-top: 1em;
                }
            }

            .about-div-img {

                img {
                border-radius: 100%;
                cursor: pointer;
                width: 400px;
                }
            }
        }
    }
}