$darkGreenColor: #228A30;
$orangeColor: #e08814;

#about {
    background-color: $orangeColor;
    height: 60vh;
    width: 100%;

    h2 {
        color: #FFFFFF;
        font-size: 35px;
        padding-left: 2em;
        padding-top: 1em;
    }

    .about-grid-wrapper {
        //background-color: #2196F3;
        //column-gap: 40px;
        display: grid;
        grid-template-columns: 35em auto;
        height: 80%;
        margin: 0 auto;
        margin-top: 1em;
        padding: 10px;
        width: 95vw;

        .about-grid-item {
            // background-color: rgba(255, 255, 255, 0.8);
            //border: 1px solid rgba(0, 0, 0, 0.8);
            font-size: 30px;
            padding-right: 300px;
            position: relative;

            .about-textbox {
                //background-color: red;
                margin-left: 2em;
                width: 90%;

                h3 {
                    color: #FFFFFF;
                }

                p {
                    color: #FFFFFF;
                    font-size: 20px;
                    line-height: 50px;
                    margin-top: 1em;
                }
            }

            .about-div-img {
                margin-left: 1em;
                margin-top: 1.5em;

                img {
                border-radius: 100%;
                cursor: pointer;
                width: 400px;
                }
            }
        }
    }
}