$darkColor: #212222;

#contact {
    background-color: $darkColor;
    height: 100vh;
    width: 100%;

    h2 {
        color: #FFFFFF;
        font-size: 45px;
        padding-left: 2em;
        padding-top: 1em;
    }
}