$darkGreenColor: #228a30;
$darkColor: #212222;

footer {
  background-color: transparent;
  // border-top: 3px solid #FFFFFF;
  display: flex;
  height: 8vh;
  justify-content: space-evenly;
  width: 100%;

  p {
    color: #ffffff;
    font-size: 20px;
    margin-top: 1.2em;
  }
}
