$chinarose: #ae4b60;
$darkGreenColor: #228a30;
$lightGreenColor: #39b54a;
$darkBlue: hsl(226, 56%, 33%);
$orangeColor: #e08814;

#keyword {
  height: 75vh;
  width: 100%;

  .keyword-grid-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 68%;
    margin-top: 1em;
    justify-content: center;
    padding: 10px;

    // .keyword-grid-item:nth-child(2) {
    //   background-color: #222222;
    // }

    .keyword-grid-item {
      border: 3px solid #FFFFFF;
      border-radius: 10px;
      // background-color: $darkGreenColor;
      box-sizing: border-box;
      height: 300px;
      margin: 10px;
      padding: 10px;
      font-size: 1.5rem;
      transition: 0.2s ease-in-out;
      width: 95%;

      img {
        left: -4%;
        margin-bottom: 0%;
        position: relative;
        top: -90%;
        width: 80px;
      }

      img:nth-child(1) {
        // background-color: red;
        left: 97.5%;
        transform: rotate(180deg);
        top: 95%;
      }

      p {
        color: #FFFFFF;
        font-size: 1.5rem;
        line-height: 2.2rem;
        text-align: center;
      }

        
    //     svg {
    //       fill: #FFFFFF;
    //       transition: 0.2s;
    //       width: 90px;
    //     }

    //     svg:hover {
    //       transform: translateY(-10px);
    //     }


    //   img {
    //     transition: 0.2s;
    //     width: 100px;
    //   }

    //   img:hover {
    //     transform: translateY(-10px);
    //   }

    //   h3 {
    //     color: #FFFFFF;
    //     margin-top: 10px;
    //   }

    //   p {
        
    //     color: #ffffff;
    //     height: 120px;
    //     margin-top: 20px;
    //     text-align: center;
    //   }
    // }

    // .keyword-grid-item:hover {

    //   svg {
    //     fill: $darkBlue;
    //   }
    // }

    // .keyword-grid-item:nth-child(2):hover {

    //   svg {
    //     fill: $orangeColor;
    //   }
    }
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
