$darkColor: #212222;

#projects {
    background-color: $darkColor;
    height: 84vh;
    width: 100%;

    h2 {
        color: #FFFFFF;
        font-size: 35px;
        padding-left: 2em;
        padding-top: 1em;
    }

    .project-grid-wrapper {
        // background-color: #2196F3;
        column-gap: 40px;
        display: grid;
        grid-gap: 100px;
        grid-template-columns: auto auto auto;
        height: 60%;
        justify-content: center;
        margin-top: 1em;
        padding: 10px;
        width: 90vw;

        .project-grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            //border-radius: 10px;
            font-size: 30px;
            position: relative;
            width: 300px;
            height: 300px;

            img {
                width: 100%;
            }

            .project-grid-item-titlebox {
                background-color: #212222;
                bottom: 0;
                display: none;
                height: 50px;
                position: absolute;
                width: 100%;

                h4 {
                    color: #FFFFFF;
                    font-size: 18px;
                    margin-top: 10px;
                    text-align: center;
                }
            }
        }

        .project-grid-item:hover {
            //background-color: red;

            .project-grid-item-titlebox {
                display: block;
                opacity: 0.8;
            }
        }
    }
}