$darkColor: #212222;
$orangeColor: #e08814;
$darkBlue: #192b66;

#projects {
    // background-color: $darkBlue;
    background-image: url('../assets/img/stacked-waves.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 84vh;
    width: 100%;

    h2 {
        color: #FFFFFF;
        font-size: 35px;
        padding-left: 2em;
        padding-top: 1em;
    }

    .project-grid-wrapper {
        // background-color: #2196F3;
        display: grid;
        grid-gap: 100px;
        grid-template-columns: auto auto auto auto;
        // height: 60%;
        margin: 0 auto;
        margin-top: 1em;
        padding-top: 10px;
        width: 70%;

        .project-grid-item {
            // background-color: rgba(255, 255, 255, 0.8);
            // border: 1px solid rgba(0, 0, 0, 0.8);
            //border-radius: 10px;
            font-size: 30px;
            position: relative;
            // width: 90%;

            img {
                width: 100%;
            }

            .project-grid-item-titlebox {
                background-color: #212222;
                bottom: 0.27em;
                display: none;
                height: 50px;
                position: absolute;
                width: 100%;

                h4 {
                    color: #FFFFFF;
                    font-size: 18px;
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }

        .project-grid-item:hover {
            //background-color: red;

            .project-grid-item-titlebox {
                display: block;
                opacity: 0.92;
            }
        }
    }
}