$headerColor: #333333;
$darkColor: #212222;
$lightGreenColor: #39b54a;
$darkGreenColor: #228a30;

/* 2k */
@media (max-width: 2700px) {
  .container {
    max-width: 1920px;
  }

  #about {
    max-height: 50vh;
  }

  #contact {
    max-height: 55vh;
  }
}

/* 2xl */
@media (max-width: 1920px) {
  .container {
    max-width: 1280px;
  }

  #about {
    .about-grid-wrapper {
      grid-template-columns: 26em auto;

      .about-grid-item {
        .about-textbox {
          p {
            font-size: 1rem;
            line-height: 20px;
          }
        }
      }

      .about-div-img {
        width: 100%;
      }
    }
  }
}

/* xl */
@media (max-width: 1280px) {
  #keyword {
    margin-top: 15em;
  }

  #projects {
    margin-top: 7em;
  }

  .container {
    max-width: 1024px;
  }

  #about {
    .about-wrapper {
      .about-img {
        width: 60%;
      }
    }
  }
}

/* lg */
@media (max-width: 1024px) {
  .header-div-right-img {
    max-width: 320px;
    margin-left: 0;
  }

  #keyword {
    height: 130vh;

    .keyword-grid-wrapper {
      flex-direction: row !important;
      
      .keyword-grid-item {
        height: 280px !important;
        width: 90vw !important;
      }
    }
  }



  #projects .project-wrapper .desc p:nth-child(3) {
    padding: 0;
  }

  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .some-menu {
    flex-wrap: nowrap !important;
    padding-left: 1em;
  }

  #keyword {
    opacity: 1;
    transform: none;
  }

  #projects {
    margin-top: 8em;
  }

  .animate {
    animation: none;
  }

  .container {
    max-width: 100%;
    // max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    padding: 0 !important;
    width: 100%;
  }

  //Header
  nav {
    // background-color: green;
    // flex-direction: column;
    // justify-content: center !important;
    // padding-top: 12em;
    display: block !important;

    .off-screen-menu {
      align-items: center;
      background-color: #212222;
      display: flex !important;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      max-width: 100vw;
      position: fixed;
      left: -650px;
      text-align: center;
      transition: 0.3s ease;
      top: 0;
      width: 100%;
      z-index: 9;

      a {
        text-decoration: none;

        li {
          color: $lightGreenColor;
          font-size: 30px;
          list-style-type: none;
          padding: 10px;
        }
      }
    }

    .off-screen-menu.activee {
      left: 0;
    }

    #navv {
      display: flex !important;
      left: -18px;
      position: fixed;
      padding: 1rem;
      z-index: 10;

      .ham-menu {
        height: 30px;
        margin-left: auto;
        position: relative;
        width: 30px;

        span {
          background-color: $lightGreenColor;
          border-radius: 25px;
          display: block;
          height: 3px;
          left: 80%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s ease;
          width: 100%;
        }

        span:nth-child(1) {
          top: 25%;
        }

        span:nth-child(3) {
          top: 75%;
        }
      }

      .ham-menu.activee span:nth-child(1) {
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      .ham-menu.activee span:nth-child(2) {
        right: 0;
        opacity: 0;
      }

      .ham-menu.activee span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
      }
    }

    .main-menu-2 {
      // display: block !important;
      width: 100%;

      a {
        color: #ffffff;
        text-decoration: none;

        li {
          border: 3px solid $lightGreenColor;
          font-size: 1.2rem;
          padding: 0.3em;
          margin-top: 0.2em;
        }
      }
    }

    .header-wrapper {
      align-items: center;
      display: flex;
      flex-direction: column !important;
      justify-content: center;

      .main-menu {
        display: none !important;
      }

      .some-menu {
        margin-top: 1em;
      }
    }
  }

  .sec-title {
    padding: 0 !important;
    text-align: center;
  }

  //Keyword
  #keyword {
    margin-top: 20em;
    flex-direction: column;
    justify-content: center;

    .keyword-grid-wrapper {
      // grid-template-columns: auto !important;
      flex-direction: column;
      height: 800px;
      margin: 0 auto;
      width: 80%;

      .keyword-grid-item {
        box-sizing: border-box;
        width: 100% !important;
      }
    }
  }

  //Projects
  #projects {
    margin-top: 10em;

    .project-wrapper {
      border: 3px dotted $darkGreenColor;
      flex-direction: column;
      margin: 0 auto;
      margin-top: 2em;
      width: 80%;

      .project {
        width: 100%;
      }

      .desc {
        width: 100%;
      }
    }

    .project-wrapper:nth-child(3),
    .project-wrapper:nth-child(5) {
      flex-direction: column-reverse !important;
    }
  }

  //About

  #about {
    margin-top: 4em;

    .about-wrapper {
      align-items: center;
      flex-direction: column;
      margin-top: 1em;

      .about-img {
        img {
          width: 300px;
        }
      }

      .about-text {
        margin-top: 5em;
        text-align: center;
        width: 80% !important;
      }
    }
  }

  //Contact
  #contact {
    margin-top: 30em;

    .contact-container {
      width: 100%;

      .form-box {
        .field {
        }
      }
    }
  }

  //Footer
  footer {
    align-items: center;
    flex-direction: column !important;
    margin-top: 8em;

    img {
      width: 40%;
    }
  }
}

/* xs */
@media (max-width: 475px) {
  header {
    nav {
      justify-content: center;
    }

    .header-div-right-img {
      transform: none !important;
      animation: none !important;
    }
  }

  //keywords
  #keyword {
    margin-top: 22em;
  }

  //Projects
  #projects {
    margin-top: 15em;

    .project {
      height: 300px !important;
      a {

        img {
          height: 300px !important;
        }
      }
    }



    .desc {

      p {
        width: 90%;
      }
    }
  }

  //About
  .about-wrapper {
    .about-img {
      img {
        width: 200px;
      }
    }
  }
  //Contact
  #contact {
    margin-top: 35em;

    .contact-container {
      .form-box {
        box-sizing: border-box;
        width: 100%;

        .field {
          margin-left: 10px;
          width: 90%;

          input {
            width: 90%;
          }

          textarea {
            width: 90%;
          }
        }
      }
    }
  }
}
