$headerColor: #333333;
$darkColor: #212222;
$lightGreenColor: #39B54A;
$darkGreenColor: #228A30;

/* 2xl */
@media (max-width: 1600px) {

}

/* xl */
@media (max-width: 1280px) {

}

/* lg */
@media (max-width: 1024px) {

}

/* md */
@media (max-width: 768px) {

}

/* sm */
@media (max-width: 640px) {

}

/* xs */
@media (max-width: 475px) {

}
