$headerColor: #333333;
$darkColor: #212222;
$lightGreenColor: #39b54a;
$darkGreenColor: #228a30;

/* 2k */
@media (max-width: 2700px) {
  .container {
    max-width: 1920px;
  }
}

/* 2xl */
@media (max-width: 1920px) {
  .container {
    max-width: 1280px;
  }

  .intro-box-text {
    height: 550px;
  }

  .arrow {
    top: 95%;

    &:hover::after {
      right: 2.5px;
    }
  }

  #about {
    .about-grid-wrapper {
      grid-template-columns: 26em auto;

      .about-grid-item {
        .about-textbox {
          p {
            font-size: 1rem;
            line-height: 20px;
          }
        }
      }

      .about-div-img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1545px) {
  .container {
    max-width: 1024px;
  }

  .profile-pic {
    max-width: 100%;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 768px;
  }

  #projects {
    // margin-top: 7em;
  }

  #about {
    .about-wrapper {
      .about-img {
        width: 60%;
      }
    }
  }

  #contact {
    // margin-top: 20em;
  }

  footer {
    // margin-top: 14em;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .header-wrapper {
    width: 100% !important;
  }

  .main-menu {
      li {
        a {
         font-size: 0.9rem !important; 
        }
      }
  }

  #skills {
    // height: 80vh;

    .skills-wrapper {
      align-items: center;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // #projects {
  //   margin-top: 200px;
  // }

  .container {
    max-width: 100%;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    padding: 0 !important;
    width: 100%;
  }

  //Header

  header {
    .custom-select {
      select {
        display: block;
      }
    }

    .header-wrapper {
      display: none !important;
    }

    .mobile-header {
      background-color: #1f1e1e;
      display: flex !important;
      justify-content: center;
      margin-top: -20px;
      position: fixed;
      width: 100%;
      z-index: 10;

      #mlogo {
        width: 150px;
      }
    }
  }

  .intro {
    flex-direction: column-reverse;

    .intro-box-text {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 20%;
      justify-content: center;
      text-align: center;
      width: 70%;

      .title-box {
        h1 {
          font-size: 2rem;
        }

        .typing {
          font-size: 2rem;

          .blinking-cursor {
            font-size: 2rem;
          }

          .typed-text {
            font-size: 2rem;
          }
        }
      }

      p {
        font-size: 1.2rem;
        text-align: center;
      }
    }

    .intro-box-image {
      width: 40%;

      img {
        border: 2px solid $lightGreenColor;
        border-radius: 100%;
      }
    }
  }

  .arrow {
    display: none;
  }

  nav {
    display: block !important;
    padding-top: 20px;

    #logo {
      display: none;
    }

    .off-screen-menu {
      display: flex !important;

      ul {
        width: 100%;

        li {
          border-bottom: 1px solid #ffffff;
          list-style-type: none;
          position: relative;
          display: flex;

          a {
            color: $lightGreenColor;
            display: block;
            font-size: 1.2rem;
            text-decoration: none;
            text-align: center;
            padding: 20px;
            width: 100%;
          }
        }
      }
    }

    .off-screen-menu.activee {
      top: 60px;
    }

    #nav2 {
      display: flex !important;
      left: -5px;
      margin-top: -20px;
      position: fixed;
      padding: 1rem;
      z-index: 100;

      .ham-menu {
        height: 30px;
        margin-left: auto;
        position: relative;
        width: 30px;

        span {
          background-color: $lightGreenColor;
          border-radius: 25px;
          display: block;
          height: 3px;
          left: 80%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s ease;
          width: 100%;
          z-index: 13;
        }

        span:nth-child(1) {
          top: 25%;
        }

        span:nth-child(3) {
          top: 75%;
        }
      }

      .ham-menu.activee span:nth-child(1) {
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      .ham-menu.activee span:nth-child(2) {
        right: 0;
        opacity: 0;
      }

      .ham-menu.activee span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
      }
    }

    .main-menu-2 {
      // display: block !important;
      width: 100%;

      a {
        color: #ffffff;
        text-decoration: none;

        li {
          border: 3px solid $lightGreenColor;
          font-size: 1.2rem;
          padding: 0.3em;
          margin-top: 0.2em;
        }
      }
    }

    .header-wrapper {
      align-items: center;
      display: flex;
      flex-direction: column !important;
      justify-content: center;

      .main-menu {
        display: none !important;
      }

      .some-menu {
        margin-left: 2em;
        margin-top: 2em;
      }
    }
  }

  .sec-title {
    padding: 0;
    text-align: center;
  }

  #skills {
    h2 {
      margin-bottom: 1em;
    }
  }

  //Projects
  #projects {
    .project-wrapper {
      align-items: center;
      flex-direction: column;
      flex-wrap: nowrap;
      margin: 0 auto;
      margin-top: 2em;
      width: 80%;

      .project {
        min-height: 600px;
      }
    }
  }

  //About

  #about {
    // margin-top: 10em;

    h3 {
      text-align: center;
    }

    .about-desc {
      text-align: center;
    }

    .about-wrapper {
      flex-direction: column;
      margin-top: 5em;
    }
  }

  //Contact
  #contact {

    .contact-container {
      width: 100%;
    }
  }

  //Footer
  footer {
    align-items: center;
    flex-direction: column !important;

    img {
      width: 40%;
    }

    a {
      display: none;
    }
  }
}

/* xs */
@media (max-width: 475px) {
  header {
    nav {
      justify-content: center;
    }

    .header-div-right-img {
      transform: none !important;
      animation: none !important;
    }
  }

  .intro {

    .intro-box-text {
      height: 50%;
      width: 100%;

      p {
        text-align: center;
      }
    }

    .intro-box-image {
      height: 45%;
      width: 60%;
    }
  }

  #skills {

    .skills-wrapper {
      margin-top: 2em;

      .skills-box {
        width: 380px;
      }
    }
  }

  //Contact
  #contact {

    .contact-container {
      .form-box {
        box-sizing: border-box;
        width: 100%;

        .field {
          margin-left: 10px;
          width: 90%;

          input {
            width: 90%;
          }

          textarea {
            width: 90%;
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .intro {
    flex-direction: column-reverse;

    .intro-box-text {
      display: flex;
      flex-direction: column;
      height: 50%;
      justify-content: center;
      text-align: center;
      width: 100%;

      .title-box {

        .typing {

          .blinking-cursor {
            font-size: 26px
          }

          .typed-text {
            font-size: 26px;
          }
        }
      }
    }

    .intro-box-image {
      width: 70%;
    }
  }

  #skills {

    .skills-wrapper {
      margin-top: 2em;

      .skills-box {
        width: 300px;

        .skills-box-content {
          flex-direction: column;

          .skills-box-content-divider {
            height: 1px;
            margin-bottom: 10px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 10px;
            width: 200px;
          }
        }
      }
    }
  }

  #about {
    .about-wrapper {
      .about-text {
        width: 90% !important;
      }
    }
  }
}
